div(id="#{name}-#{x}", class="item")
  div(class="form-group")
    div(class="input-group")
      form(class="form-inline change", action="/change", method="POST")
        input(type="hidden", name="name", value="#{name}")
        input(type="hidden", name="index", value="#{x}")
        input(type="text", class="form-control", name="item", value="#{item}")
      div(class="input-group-addon")
        button(type="submit", class="btn")
      div(class="input-group-addon")
        a(href="##{item}", value="#{x}" class="drop", list="#{name}")
          span(class="glyphicon glyphicon-minus")
